.contact__container {
    min-height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    flex-wrap: wrap;
    padding: 20px 0;
}

.contact__item {
    transition: 0.2s linear;

}

.contact__item:hover {
    filter: drop-shadow(0px 0px 20px var(--skill-hover-color));
    scale: 1.05;
}

.contact__img {
    width: 230px;
    height: 230px;
    object-fit: cover;
}

@media (max-width: 300px) {
    .contact__img {
        max-width: 150px;
        max-height: 150px;
    }
}