@import url('https://fonts.googleapis.com/css2?family=Outfit:&display=swap');

.container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    gap: 25px;
    font-family: 'Outfit', sans-serif;
    /* height: 500px; */
    /* background-color: #f5a499; */
    border-radius: 5px;
    /* margin: 50px 50px; */
    padding: 40px 50px;
    
}

/* Container Left */
.container__left {
    width: 100%;
    max-width: 450px;
    display: flex;
    flex-direction: column;
}

.presentation__title {
    font-size: 70px;
    /* padding: 0; */
    margin-top: 12.5px;
    margin-bottom: 0;
    font-weight: 900;
    background: -webkit-linear-gradient(-120deg, rgba(2,0,36,1) 0%, rgba(9,75,121,1) 38%, rgba(0,212,255,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    /* color: linear-gradient(#a5b832, #b5f8a3); */
}

.presentation__info {
    font-size: 25px;
    font-weight: 700;
    margin: 12.5px 0;
}

.presentation__text{
    margin-top: 5px;
    font-size: 17px;
    letter-spacing: 1.15px;   
    /* max-width: 400px; */
}

/* Container Right */
.container__right {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 10px;
}

.perfil {
    border-radius: 50%;
    max-width: 425px;
    width: 100%;
    max-height: 425px;
    height: 100%;
}

.float__logo {
    position: absolute;
}

/* @media (max-width: 850px) {
    .container {
        gap: 0;
    }
} */