.card {
    display: flex;
    justify-content: center;
    position: relative;
    color: var(--text-color);
    height: 350px;
    width: 850px;
    z-index: 99;
    overflow: hidden;
    border-radius: 10px;
    background: rgb(108,180,238);
background: linear-gradient(313deg, rgba(108,180,238,1) 36%, rgba(196,226,249,1) 61%);
    font-family: 'Outfit', sans-serif;
    transition: 0.4s ease-out;
}

.card:hover {
    scale: 1.02;
    -webkit-box-shadow: 5px 5px 12px 2px rgba(0,0,0,0.68); 
    box-shadow: 5px 5px 12px 2px rgba(0,0,0,0.68);
}

.card:hover > .card__reverse {
    left: 0%;
}

.card__reverse {
    transition: 0.4s ease-out;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: rgba(222,237,251, 0.7);
    left: 100%;
    width: 100%;
    height: 100%;
}

.networks {
    display: flex;
    gap: 20px;
}

.card__right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px 50px;
}

.card__img {
    flex-shrink: 1;
    width: 400px;
    border-radius: 10px 0 0 10px;
}

.card__logos{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    max-width: 490px;
    gap: 10px;
}

.card__logo{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    padding: 0 10px;
    background-color: var(--background-fourth-color);
    color: var(--text-secondary-color);
    border-radius: 20px 20px;
}

.card__logo svg {
    padding: 6px 2px 5px 6px;
    border-radius: 10%;
}

.logo__img {
    width: 35px;
    height: 35px;
    border-radius: 50%;
}

.logo__info {
    padding: 0 10px 0 0px;
}

.card__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card__title {
    text-align: center;
    margin-top: 0px;
}

.card__text {
    max-width: 400px;
    text-align: center;
    margin-top: 2px;
}

.to__link {
    transition: 0.3s ease-in-out;
    color: currentColor;
    text-decoration: none;
}

.to__link:hover {
    scale: 1.1;
}


@media (max-width: 870px) {
    .card {
        flex-direction: column;
        width: 75%;
        height: fit-content;
    }
    .card__img {
        width: 100%;
        height: 300px;
        border-radius: 10px 10px 0 0;
        object-fit: cover;
    }
    .card__right {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 20px 10px;
    }
}
