.word__container {
    position: relative;
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 45px;
    text-align: center;
}

.word {
    color: var(--text-color);
    display: inline-flex;
    font-size: 25px;
    font-weight: 700;
    margin: 10.5px 0;
}

.word__cursor {
    position: absolute;
    display: inline-flex;
    width: 3px;
    height: 28.75px;
    margin-bottom: -2px;
    left: 101%;
    border-radius: 1px;
    background-color: var(--text-color);
}

@media (max-width: 400px) {
    .word {
        font-size: 18px;
    }
}